flow_templates/JSON_Redis_Enrichment.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ae4e7b73-017f-1000-0000-00006ce4090a</groupId>
    <name>JSON Redis Enrichment</name>
    <snippet>
        <connections>
            <id>020ae446-4010-3eac-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>d6468234-4254-3415-84c4-0c26ab813450</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>120.0</x>
                <y>2128.0</y>
            </bends>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>923f3b2a-f5eb-3dcc-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>b9f242ca-d26e-3ace-83cd-dddc15134b63</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>c044e22e-eb5e-3977-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>53d863ed-7e51-3096-91fb-7da04fbdc2dc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3adfaac3-d449-3aed-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>77d13086-8ef2-34c5-935a-3d0a364bc278</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>f0e0fbea-234e-3529-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e186b86-ad39-3581-af83-2211a64cbefc</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filtered</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>2f336a89-b832-3904-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>32b2171c-b435-35a4-a372-66eed8b9c33c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>49a2026a-3428-3c92-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>49a2026a-3428-3c92-8fa9-e326471b1484</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>ec4c80c8-92a6-3312-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>6762931f-fd43-35db-9a1c-051bed01fc3d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>004a6e64-b25e-3a3d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>004a6e64-b25e-3a3d-b832-b520afd23ca5</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5916d4fe-8b72-345b-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>5916d4fe-8b72-345b-aae3-0db6184a5dd9</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>ec4c80c8-92a6-3312-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>6762931f-fd43-35db-9a1c-051bed01fc3d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>a21d2cf3-bb7a-3c36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6a9d52bf-9f6e-39ec-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>2c842377-b500-31b1-8efe-8ae957cdda48</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>8be08de4-036e-3887-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>f0e0fbea-234e-3529-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e186b86-ad39-3581-af83-2211a64cbefc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6e86c138-80ec-3999-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>88176e99-5cda-33b7-b53c-40af622c3d39</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>2f336a89-b832-3904-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>32b2171c-b435-35a4-a372-66eed8b9c33c</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>8bedcadb-ac66-3eab-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c8ae0a46-883d-3cd6-87e7-1afbac1f75a4</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>86b0f8a5-fa7e-31bd-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>86b0f8a5-fa7e-31bd-9bae-7589c03f90c2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>9b21d6e8-ebd8-3caf-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>50375670-b056-3c1d-89be-0077cc03ca61</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>8be08de4-036e-3887-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8ed99465-dc3b-3dd0-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>8ed99465-dc3b-3dd0-b33d-5c7c80392c23</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>ec4c80c8-92a6-3312-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>6762931f-fd43-35db-9a1c-051bed01fc3d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>26dcabc4-c320-3439-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>26dcabc4-c320-3439-a00d-bfa6b45bf0ab</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9009f35f-0839-304e-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>9009f35f-0839-304e-a21b-6748b10d5a6d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>a21d2cf3-bb7a-3c36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>26dcabc4-c320-3439-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>26dcabc4-c320-3439-a00d-bfa6b45bf0ab</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bd5c795d-ceda-306f-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>31345962-c01e-36ce-b56a-d44d1435ab0f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>923f3b2a-f5eb-3dcc-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>b9f242ca-d26e-3ace-83cd-dddc15134b63</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>2f336a89-b832-3904-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>32b2171c-b435-35a4-a372-66eed8b9c33c</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bde70539-2e8e-30a8-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>bde70539-2e8e-30a8-8db5-eb05bb2ebef8</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>004a6e64-b25e-3a3d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>004a6e64-b25e-3a3d-b832-b520afd23ca5</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>a21d2cf3-bb7a-3c36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cb7f7d49-85d0-33cb-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>cb7f7d49-85d0-33cb-bdac-207477c898c4</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>c044e22e-eb5e-3977-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>53d863ed-7e51-3096-91fb-7da04fbdc2dc</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>004a6e64-b25e-3a3d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>004a6e64-b25e-3a3d-b832-b520afd23ca5</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d4c3b448-ffb2-394d-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>db24deab-2eae-38b0-998e-0f7e83b270a1</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>26dcabc4-c320-3439-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>26dcabc4-c320-3439-a00d-bfa6b45bf0ab</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>9b21d6e8-ebd8-3caf-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>50375670-b056-3c1d-89be-0077cc03ca61</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>df5dafb0-eeb3-30a8-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>4a3685b3-1efb-3fc6-993e-1286b4b7b327</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>8bedcadb-ac66-3eab-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c8ae0a46-883d-3cd6-87e7-1afbac1f75a4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>7c2d7d78-2169-3e2b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>01102c76-abcd-34d2-ba48-71a00cf0c164</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e39b75a5-e682-3d96-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>1076e820-4903-379c-9660-bfd169e34b5d</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>ec4c80c8-92a6-3312-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>6762931f-fd43-35db-9a1c-051bed01fc3d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>8be08de4-036e-3887-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ea225876-7b6b-397a-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>23d84bb8-b93e-357b-b91e-edda8bb2507c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>923f3b2a-f5eb-3dcc-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>b9f242ca-d26e-3ace-83cd-dddc15134b63</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>f0e0fbea-234e-3529-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e186b86-ad39-3581-af83-2211a64cbefc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ed42ebdb-0113-3d1e-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>8e229e15-e018-3e22-8ed2-b8e696515cfe</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>2e3eecb7-9686-30cb-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>4b21c7f5-ea9b-3f9d-a5c8-28117d9a5492</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>c044e22e-eb5e-3977-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>53d863ed-7e51-3096-91fb-7da04fbdc2dc</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fbade68c-7875-3f10-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>a5563374-e8e7-3e76-be62-b80c7b8390ff</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>ec4c80c8-92a6-3312-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>6762931f-fd43-35db-9a1c-051bed01fc3d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>2675d96d-8710-3666-0000-000000000000</groupId>
                <id>9b21d6e8-ebd8-3caf-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>50375670-b056-3c1d-89be-0077cc03ca61</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>355eea51-773a-38d0-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>153ff056-cb52-3e1b-a7c7-5913fdd0b810</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>InferJsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>4fb1d09e-1e29-3094-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>0eed8a6c-bfb2-3bcc-a77c-b36c8a82c36d</versionedComponentId>
            <bundle>
                <artifact>nifi-redis-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>redis-connection-pool</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.redis.RedisConnectionPool</identifiesControllerService>
                        <name>redis-connection-pool</name>
                    </value>
                </entry>
                <entry>
                    <key>redis-cache-ttl</key>
                    <value>
                        <name>redis-cache-ttl</name>
                    </value>
                </entry>
            </descriptors>
            <name>RedisDistributedMapCacheClientService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>redis-connection-pool</key>
                    <value>eff6f1c1-24de-3e08-0000-000000000000</value>
                </entry>
                <entry>
                    <key>redis-cache-ttl</key>
                    <value>300 secs</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.redis.service.RedisDistributedMapCacheClientService</type>
        </controllerServices>
        <controllerServices>
            <id>6e8e6a8f-6344-356f-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>c5d8ceb6-c1aa-3f97-9585-22de90c50c77</versionedComponentId>
            <bundle>
                <artifact>nifi-lookup-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>distributed-map-cache-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                        <name>distributed-map-cache-service</name>
                    </value>
                </entry>
                <entry>
                    <key>character-encoding</key>
                    <value>
                        <name>character-encoding</name>
                    </value>
                </entry>
            </descriptors>
            <name>DistributedMapCacheLookupService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>distributed-map-cache-service</key>
                    <value>4fb1d09e-1e29-3094-0000-000000000000</value>
                </entry>
                <entry>
                    <key>character-encoding</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.lookup.DistributedMapCacheLookupService</type>
        </controllerServices>
        <controllerServices>
            <id>91c95924-283f-30cf-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>8047edd8-f7e0-340d-bec8-1976689dbad9</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>fa02baeb-72ec-3fac-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.raw}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>eff6f1c1-24de-3e08-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>3f6b6bb7-8839-36f3-9b5a-fcc8191cb24c</versionedComponentId>
            <bundle>
                <artifact>nifi-redis-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Redis Mode</key>
                    <value>
                        <name>Redis Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Connection String</key>
                    <value>
                        <name>Connection String</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Index</key>
                    <value>
                        <name>Database Index</name>
                    </value>
                </entry>
                <entry>
                    <key>Communication Timeout</key>
                    <value>
                        <name>Communication Timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>Cluster Max Redirects</key>
                    <value>
                        <name>Cluster Max Redirects</name>
                    </value>
                </entry>
                <entry>
                    <key>Sentinel Master</key>
                    <value>
                        <name>Sentinel Master</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Max Total</key>
                    <value>
                        <name>Pool - Max Total</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Max Idle</key>
                    <value>
                        <name>Pool - Max Idle</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Min Idle</key>
                    <value>
                        <name>Pool - Min Idle</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Block When Exhausted</key>
                    <value>
                        <name>Pool - Block When Exhausted</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Max Wait Time</key>
                    <value>
                        <name>Pool - Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Min Evictable Idle Time</key>
                    <value>
                        <name>Pool - Min Evictable Idle Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Time Between Eviction Runs</key>
                    <value>
                        <name>Pool - Time Between Eviction Runs</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Num Tests Per Eviction Run</key>
                    <value>
                        <name>Pool - Num Tests Per Eviction Run</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test On Create</key>
                    <value>
                        <name>Pool - Test On Create</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test On Borrow</key>
                    <value>
                        <name>Pool - Test On Borrow</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test On Return</key>
                    <value>
                        <name>Pool - Test On Return</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test While Idle</key>
                    <value>
                        <name>Pool - Test While Idle</name>
                    </value>
                </entry>
            </descriptors>
            <name>RedisConnectionPoolService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Redis Mode</key>
                    <value>Standalone</value>
                </entry>
                <entry>
                    <key>Connection String</key>
                    <value>redis:6379</value>
                </entry>
                <entry>
                    <key>Database Index</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>Communication Timeout</key>
                    <value>10 seconds</value>
                </entry>
                <entry>
                    <key>Cluster Max Redirects</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Sentinel Master</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Pool - Max Total</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Pool - Max Idle</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Pool - Min Idle</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>Pool - Block When Exhausted</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Pool - Max Wait Time</key>
                    <value>10 seconds</value>
                </entry>
                <entry>
                    <key>Pool - Min Evictable Idle Time</key>
                    <value>60 seconds</value>
                </entry>
                <entry>
                    <key>Pool - Time Between Eviction Runs</key>
                    <value>30 seconds</value>
                </entry>
                <entry>
                    <key>Pool - Num Tests Per Eviction Run</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Pool - Test On Create</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Pool - Test On Borrow</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Pool - Test On Return</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Pool - Test While Idle</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.redis.service.RedisConnectionPoolService</type>
        </controllerServices>
        <controllerServices>
            <id>f6939a3c-d744-3fd8-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>a79c53c8-e1af-3d77-9cd2-d44fd4ca98b6</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>InheritJsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>fa02baeb-72ec-3fac-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <versionedComponentId>0de4d40e-828e-303e-83df-d24272a678a3</versionedComponentId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>enriched-traffic</key>
                    <value>
                        <name>enriched-traffic</name>
                    </value>
                </entry>
                <entry>
                    <key>raw-traffic</key>
                    <value>
                        <name>raw-traffic</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>enriched-traffic</key>
                    <value>{
  "type":"record",
  "namespace":"io.github.hindmasj",
  "name":"ECSEnrichedTraffic",
  "fields":[
    {"name":"source","type":{
      "type":"record",
      "name":"source_schema",
      "fields":[
        {"name":"address","type":"string"},
        {"name":"ip","type":"string"},
        {"name":"port","type":"long"}
      ]}
    },
    {"name":"Source","type":{
      "type":"record",
      "name":"source_custom_schema",
      "fields":[
        {"name":"Service","type":"string"}
        ]}
    },
    {"name":"destination","type":{
      "type":"record",
      "name":"destination_schema",
      "fields":[
        {"name":"address","type":"string"},
        {"name":"ip","type":"string"},
        {"name":"port","type":"long"}
      ]}
    },
    {"name":"Destination","type":{
      "type":"record",
      "name":"destination_custom_schema",
      "fields":[
        {"name":"Service","type":"string"}
        ]}
    },
    {"name":"network","type":{
      "type":"record",
      "name":"network_schema",
      "fields":[
        {"name":"application","type":"string"},
        {"name":"protocol","type":"string"},
        {"name":"type","type":{"type":"enum","name":"ip_version","symbols":["ipv4","ipv6"]}},
        {"name":"iana_number","type":"long"},
        {"name":"transport","type":"long"}
      ]
      }
    },
    {"name":"Network","type":{
      "type":"record",
      "name":"network_custom_schema",
      "fields":[
        {"name":"type_id","type":"long"},
        {"name":"flags","type":{
          "type":"record",
          "name":"tcp_flags_schema",
          "fields":[
            {"name":"syn","type":"boolean"},
            {"name":"ack","type":"boolean"},
            {"name":"fin","type":"boolean"}
            ]}
          }
        ]
      }
    }
  ]
}
</value>
                </entry>
                <entry>
                    <key>raw-traffic</key>
                    <value>{
  "type":"record",
  "namespace":"io.github.hindmasj",
  "name":"RawTraffic",
  "fields":[
    {"name":"src_address","type":"string"},
    {"name":"src_port","type":"long"},
    {"name":"dst_address","type":"string"},
    {"name":"dst_port","type":"long"},
    {"name":"ip_version","type":"long"},
    {"name":"transport_protocol","type":"long"},
    {"name":"flag_s","type":"long"},
    {"name":"flag_a","type":"long"},
    {"name":"flag_f","type":"long"}
  ]
}
</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <outputPorts>
            <id>923f3b2a-f5eb-3dcc-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>960.0</y>
            </position>
            <versionedComponentId>b9f242ca-d26e-3ace-83cd-dddc15134b63</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>ErrorHandlingOut2</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>ec4c80c8-92a6-3312-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>2064.0</x>
                <y>1424.0</y>
            </position>
            <versionedComponentId>6762931f-fd43-35db-9a1c-051bed01fc3d</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>ErrorHandlingOut</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
            <id>004a6e64-b25e-3a3d-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>1792.0</y>
            </position>
            <versionedComponentId>004a6e64-b25e-3a3d-b832-b520afd23ca5</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>
                            <name>replacement-value-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/Destination/service</key>
                        <value>
                            <name>/Destination/service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/Source/service</key>
                        <value>
                            <name>/Source/service</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>355eea51-773a-38d0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f6939a3c-d744-3fd8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>record-path-value</value>
                    </entry>
                    <entry>
                        <key>/Destination/service</key>
                        <value>replaceRegex(
  unescapeJson(/Enrichment/Destination/Service),
  '\{name=([^,]+),.*\}',
  '$1'
)
</value>
                    </entry>
                    <entry>
                        <key>/Source/service</key>
                        <value>replaceRegex(
  unescapeJson(/Enrichment/Source/Service),
  '\{name=([^,]+),.*\}',
  '$1'
)
</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateRecord - service</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
        </processors>
        <processors>
            <id>26dcabc4-c320-3439-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>1376.0</y>
            </position>
            <versionedComponentId>26dcabc4-c320-3439-a00d-bfa6b45bf0ab</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
                            <name>lookup-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>
                            <name>result-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>
                            <name>routing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>
                            <name>result-contents</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-update-strategy</key>
                        <value>
                            <name>record-update-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>
                            <name>key</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>355eea51-773a-38d0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f6939a3c-d744-3fd8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>6e8e6a8f-6344-356f-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>/Enrichment/Source/Service</value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>route-to-success</value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>insert-entire-record</value>
                    </entry>
                    <entry>
                        <key>record-update-strategy</key>
                        <value>use-property</value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>concat('service.',/source/port,'/',/network/transport)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LookupRecord - source service</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LookupRecord</type>
        </processors>
        <processors>
            <id>2e3eecb7-9686-30cb-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>1528.0</x>
                <y>2064.0</y>
            </position>
            <versionedComponentId>4b21c7f5-ea9b-3f9d-a5c8-28117d9a5492</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>Published kafka message: </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>2f336a89-b832-3904-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>504.0</y>
            </position>
            <versionedComponentId>32b2171c-b435-35a4-a372-66eed8b9c33c</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>
                            <name>cache-schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filtered</key>
                        <value>
                            <name>filtered</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>91c95924-283f-30cf-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f6939a3c-d744-3fd8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>filtered</key>
                        <value>select *
from flowfile
where transport_protocol &lt;&gt; 6
or flag_s = 1 or flag_a = 1 or flag_f =1</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>QueryRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filtered</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.QueryRecord</type>
        </processors>
        <processors>
            <id>7c2d7d78-2169-3e2b-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>01102c76-abcd-34d2-ba48-71a00cf0c164</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>my.source.topic</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>nifi</value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
</value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafka_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
        </processors>
        <processors>
            <id>8be08de4-036e-3887-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>984.0</y>
            </position>
            <versionedComponentId>3d905ccb-c6ed-3733-bbd5-f4ceb41e6bca</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
                            <name>lookup-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>
                            <name>result-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>
                            <name>routing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>
                            <name>result-contents</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-update-strategy</key>
                        <value>
                            <name>record-update-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>
                            <name>key</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>355eea51-773a-38d0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f6939a3c-d744-3fd8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>6e8e6a8f-6344-356f-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>/Enrichment/Network/Transport</value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>route-to-success</value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>insert-entire-record</value>
                    </entry>
                    <entry>
                        <key>record-update-strategy</key>
                        <value>use-property</value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>concat('protocol.',/network/iana_number)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LookupRecord - transport</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LookupRecord</type>
        </processors>
        <processors>
            <id>8bedcadb-ac66-3eab-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>224.0</y>
            </position>
            <versionedComponentId>c8ae0a46-883d-3cd6-87e7-1afbac1f75a4</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.enriched</key>
                        <value>
                            <name>schema.enriched</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.raw</key>
                        <value>
                            <name>schema.raw</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema.enriched</key>
                        <value>enriched-traffic</value>
                    </entry>
                    <entry>
                        <key>schema.raw</key>
                        <value>raw-traffic</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>9b21d6e8-ebd8-3caf-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>1184.0</y>
            </position>
            <versionedComponentId>50375670-b056-3c1d-89be-0077cc03ca61</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>
                            <name>replacement-value-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>/network/transport</key>
                        <value>
                            <name>/network/transport</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>355eea51-773a-38d0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f6939a3c-d744-3fd8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>replacement-value-strategy</key>
                        <value>record-path-value</value>
                    </entry>
                    <entry>
                        <key>/network/transport</key>
                        <value>replaceRegex(
  unescapeJson(/Enrichment/Network/Transport),
  '\{name=([^,]+),.*\}',
  '$1'
)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateRecord - transport</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
        </processors>
        <processors>
            <id>a21d2cf3-bb7a-3c36-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>1592.0</y>
            </position>
            <versionedComponentId>a21d2cf3-bb7a-3c36-aeb1-2289a66dcad9</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
                            <name>lookup-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>
                            <name>result-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>
                            <name>routing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>
                            <name>result-contents</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-update-strategy</key>
                        <value>
                            <name>record-update-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>
                            <name>key</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>355eea51-773a-38d0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>f6939a3c-d744-3fd8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>lookup-service</key>
                        <value>6e8e6a8f-6344-356f-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>result-record-path</key>
                        <value>/Enrichment/Destination/Service</value>
                    </entry>
                    <entry>
                        <key>routing-strategy</key>
                        <value>route-to-success</value>
                    </entry>
                    <entry>
                        <key>result-contents</key>
                        <value>insert-entire-record</value>
                    </entry>
                    <entry>
                        <key>record-update-strategy</key>
                        <value>use-property</value>
                    </entry>
                    <entry>
                        <key>key</key>
                        <value>concat('service.',/destination/port,'/',/network/transport)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LookupRecord - destination service</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LookupRecord</type>
        </processors>
        <processors>
            <id>c044e22e-eb5e-3977-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>2064.0</y>
            </position>
            <versionedComponentId>53d863ed-7e51-3096-91fb-7da04fbdc2dc</versionedComponentId>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-transactions</propertyName>
                            </dependencies>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>my.sink.topic</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
        </processors>
        <processors>
            <id>f0e0fbea-234e-3529-0000-000000000000</id>
            <parentGroupId>2675d96d-8710-3666-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>768.0</y>
            </position>
            <versionedComponentId>9e186b86-ad39-3581-af83-2211a64cbefc</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>jolt-transform</key>
                        <value>
                            <name>jolt-transform</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                        <value>
                            <name>jolt-custom-class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                        <value>
                            <name>jolt-custom-modules</name>
                        </value>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>
                            <name>jolt-spec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>
                            <name>Transform Cache Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>
                            <name>pretty_print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>jolt-transform</key>
                        <value>jolt-transform-chain</value>
                    </entry>
                    <entry>
                        <key>jolt-custom-class</key>
                    </entry>
                    <entry>
                        <key>jolt-custom-modules</key>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>[{
  "operation": "shift",
  "spec": {
    "*": {
      "src_address": ["[&amp;(1)].source.ip","[&amp;(1)].source.address"],
      "src_port": "[&amp;(1)].source.port",
      "dst_address": ["[&amp;(1)].destination.ip","[&amp;(1)].destination.address"],
      "dst_port": "[&amp;(1)].destination.port",
      "ip_version": ["[&amp;(1)].network.type","[&amp;(1)].Network.type_id"],
      "transport_protocol": "[&amp;(1)].network.iana_number",
      "flag_s": "[&amp;(1)].Network.flags.syn",
      "flag_a": "[&amp;(1)].Network.flags.ack",
      "flag_f": "[&amp;(1)].Network.flags.fin"
    }
  }
}, {
   "operation":"modify-overwrite-beta",
   "spec": {
     "*": {
       "network": {
         "type": "=concat('ipv',@(0))"
       },
       "Network": {
         "flags": {
           "*": "=elementAt(@(0),false,true)"
         }
       },
       "Enrichment": {
         "Network": {
           "Transport": null
         },
         "Source": {
           "Service": null
         },
         "Destination": {
           "Service": null
         }
       },
       "Source": {
         "service": null
       },
       "Destination": {
         "service": null
       }
     }
   }
 }]</value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>pretty_print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>JoltTransformJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
    </snippet>
    <timestamp>04/05/2022 15:47:07 UTC</timestamp>
</template>
