flow_templates/Write_To_Redis.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Write enrichment data to a Redis index</description>
    <groupId>1848276a-0180-1000-6d4c-b37caff6a121</groupId>
    <name>Write To Redis</name>
    <snippet>
        <processGroups>
            <id>03dd5b69-6a4d-301f-0000-000000000000</id>
            <parentGroupId>5576945c-1a36-3fe1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>27d27b4e-350c-3c7d-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>1cd716b7-de43-3114-a029-daca1364a3d6</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>b1cd13d3-20b1-32e1-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>1dc9aba9-ecac-3ca7-994b-943b57aa6a4f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>49179b2a-2ec1-3596-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a66353be-c175-3677-85f9-b64a9defe1c5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>42a88763-4514-343c-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>a04a7b48-35fc-3b9e-9ca7-d13243dedc0a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>36df2c0a-e0f6-3c72-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8884ee9e-bdda-39eb-952c-9f86e57fac07</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>96ea2d98-6b76-3623-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eeb86019-f3f3-3aea-bf2f-33d7dec93f1e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>91f85640-7906-3ff2-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>5b0fb8de-203b-3772-b9f0-a09ca9384a5b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>b1cd13d3-20b1-32e1-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>1dc9aba9-ecac-3ca7-994b-943b57aa6a4f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>36df2c0a-e0f6-3c72-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8884ee9e-bdda-39eb-952c-9f86e57fac07</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ac3b69bc-8c08-3345-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>8c7dcb2f-5abd-3c9a-bc33-f4f1a413f77b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>e82341dd-fedf-3e9a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0857c9f0-2ec5-3c97-9cdb-1a7140c45ae4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>36df2c0a-e0f6-3c72-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8884ee9e-bdda-39eb-952c-9f86e57fac07</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dd2f6872-766d-3cf0-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>6376ba48-7223-3ec1-bfd3-3323ced7e6ed</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>96ea2d98-6b76-3623-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eeb86019-f3f3-3aea-bf2f-33d7dec93f1e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>49179b2a-2ec1-3596-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a66353be-c175-3677-85f9-b64a9defe1c5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e44a03bd-32ae-38ff-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>8906d411-67d4-3489-91ad-5dd8008a8610</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>b1cd13d3-20b1-32e1-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>1dc9aba9-ecac-3ca7-994b-943b57aa6a4f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>96ea2d98-6b76-3623-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>eeb86019-f3f3-3aea-bf2f-33d7dec93f1e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>efbe85b5-f1ee-31c5-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>8d872512-c9a6-37db-a4c2-5394fc4241e8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>49179b2a-2ec1-3596-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a66353be-c175-3677-85f9-b64a9defe1c5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>03dd5b69-6a4d-301f-0000-000000000000</groupId>
                        <id>c248a4bb-aed7-330e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e8b75ab-704f-3dad-ad79-63fbd0f882ef</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>4fe9eb89-7729-379a-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>3d94a1ef-3fdf-34fd-b459-763259287666</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>InheritJsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>8500fb53-ddaf-3f59-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>9132c935-cbde-33d2-a1f9-3c7ad7f8efa4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-redis-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Redis Mode</key>
                            <value>
<name>Redis Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Connection String</key>
                            <value>
<name>Connection String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Index</key>
                            <value>
<name>Database Index</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Communication Timeout</key>
                            <value>
<name>Communication Timeout</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Cluster Max Redirects</key>
                            <value>
<name>Cluster Max Redirects</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Sentinel Master</key>
                            <value>
<name>Sentinel Master</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
<name>SSL Context Service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Max Total</key>
                            <value>
<name>Pool - Max Total</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Max Idle</key>
                            <value>
<name>Pool - Max Idle</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Min Idle</key>
                            <value>
<name>Pool - Min Idle</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Block When Exhausted</key>
                            <value>
<name>Pool - Block When Exhausted</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Max Wait Time</key>
                            <value>
<name>Pool - Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Min Evictable Idle Time</key>
                            <value>
<name>Pool - Min Evictable Idle Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Time Between Eviction Runs</key>
                            <value>
<name>Pool - Time Between Eviction Runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Num Tests Per Eviction Run</key>
                            <value>
<name>Pool - Num Tests Per Eviction Run</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Create</key>
                            <value>
<name>Pool - Test On Create</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Borrow</key>
                            <value>
<name>Pool - Test On Borrow</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Return</key>
                            <value>
<name>Pool - Test On Return</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test While Idle</key>
                            <value>
<name>Pool - Test While Idle</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>RedisConnectionPoolService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Redis Mode</key>
                            <value>Standalone</value>
                        </entry>
                        <entry>
                            <key>Connection String</key>
                            <value>redis:6379</value>
                        </entry>
                        <entry>
                            <key>Database Index</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>Communication Timeout</key>
                            <value>10 seconds</value>
                        </entry>
                        <entry>
                            <key>Cluster Max Redirects</key>
                            <value>5</value>
                        </entry>
                        <entry>
                            <key>Sentinel Master</key>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>SSL Context Service</key>
                        </entry>
                        <entry>
                            <key>Pool - Max Total</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Pool - Max Idle</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Pool - Min Idle</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>Pool - Block When Exhausted</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Pool - Max Wait Time</key>
                            <value>10 seconds</value>
                        </entry>
                        <entry>
                            <key>Pool - Min Evictable Idle Time</key>
                            <value>60 seconds</value>
                        </entry>
                        <entry>
                            <key>Pool - Time Between Eviction Runs</key>
                            <value>30 seconds</value>
                        </entry>
                        <entry>
                            <key>Pool - Num Tests Per Eviction Run</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Create</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Borrow</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Return</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Pool - Test While Idle</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.redis.service.RedisConnectionPoolService</type>
                </controllerServices>
                <controllerServices>
                    <id>c42a37c1-7d3c-3024-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>ef3593e7-aeab-3b4b-b729-063246556e85</versionedComponentId>
                    <bundle>
                        <artifact>nifi-redis-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>redis-connection-pool</key>
                            <value>
<identifiesControllerService>org.apache.nifi.redis.RedisConnectionPool</identifiesControllerService>
<name>redis-connection-pool</name>
                            </value>
                        </entry>
                        <entry>
                            <key>redis-cache-ttl</key>
                            <value>
<name>redis-cache-ttl</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>RedisDistributedMapCacheClientService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>redis-connection-pool</key>
                            <value>8500fb53-ddaf-3f59-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>redis-cache-ttl</key>
                            <value>0 secs</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.redis.service.RedisDistributedMapCacheClientService</type>
                </controllerServices>
                <controllerServices>
                    <id>cfccb8ab-f507-3666-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <versionedComponentId>7de7430c-4c57-30fe-8bec-a8924f62f40d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>InferJsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <outputPorts>
                    <id>b1cd13d3-20b1-32e1-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1024.0</x>
                        <y>408.0</y>
                    </position>
                    <versionedComponentId>1dc9aba9-ecac-3ca7-994b-943b57aa6a4f</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>ErrorHandlingOut</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>36df2c0a-e0f6-3c72-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <position>
                        <x>264.0</x>
                        <y>632.0</y>
                    </position>
                    <versionedComponentId>8884ee9e-bdda-39eb-952c-9f86e57fac07</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Cache update strategy</key>
<value>
    <name>Cache update strategy</name>
</value>
                            </entry>
                            <entry>
<key>Max cache entry size</key>
<value>
    <name>Max cache entry size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>${index-prefix:append('/'):append(${index-key})}</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>c42a37c1-7d3c-3024-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cache update strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Max cache entry size</key>
<value>1 MB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDistributedMapCache</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
                </processors>
                <processors>
                    <id>49179b2a-2ec1-3596-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>199.0</y>
                    </position>
                    <versionedComponentId>a66353be-c175-3677-85f9-b64a9defe1c5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Record Reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>Record Reader</name>
</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>Record Writer</name>
</value>
                            </entry>
                            <entry>
<key>Records Per Split</key>
<value>
    <name>Records Per Split</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Record Reader</key>
<value>cfccb8ab-f507-3666-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>4fe9eb89-7729-379a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Records Per Split</key>
<value>1</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitRecord</type>
                </processors>
                <processors>
                    <id>96ea2d98-6b76-3623-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>407.0</y>
                    </position>
                    <versionedComponentId>eeb86019-f3f3-3aea-bf2f-33d7dec93f1e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>index-key</key>
<value>
    <name>index-key</name>
</value>
                            </entry>
                            <entry>
<key>index-prefix</key>
<value>
    <name>index-prefix</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>warn</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>index-key</key>
<value>enrichment-key</value>
                            </entry>
                            <entry>
<key>index-prefix</key>
<value>enrichment-type</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c248a4bb-aed7-330e-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.0</x>
                        <y>7.0</y>
                    </position>
                    <versionedComponentId>8e8b75ab-704f-3dad-ad79-63fbd0f882ef</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>Commit Offsets</key>
<value>
    <name>Commit Offsets</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>Commit Offsets</propertyName>
    </dependencies>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>
    <name>separate-by-key</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>my.enrichment.topic</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>nifi</value>
                            </entry>
                            <entry>
<key>Commit Offsets</key>
<value>true</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value></value>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>false</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
                </processors>
                <processors>
                    <id>e82341dd-fedf-3e9a-0000-000000000000</id>
                    <parentGroupId>03dd5b69-6a4d-301f-0000-000000000000</parentGroupId>
                    <position>
                        <x>264.0</x>
                        <y>856.0</y>
                    </position>
                    <versionedComponentId>0857c9f0-2ec5-3c97-9cdb-1a7140c45ae4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>index-.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>Enrichment data written to Redis</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Write To Redis</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>04/12/2022 09:31:40 UTC</timestamp>
</template>
